#m{
  background-color: yellow;
}
#m pre{
  background-color:blue;
  padding:40px;
}
a{
  color:white;
  font-size: 15px;
}
#k{
  color:lightgrey;
  padding:100px;
  font-size: 30px;
  text-align: center;
}
#sec p{
  font-size:12px ;
  font-style:Sans-serif;
  font-weight:bold;
}
#sec th h2{
  width: 250px;
  background-color:rgb(20,30,50) ;
}
